/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets/fonts/montserrat-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/montserrat-v24-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('assets/fonts/montserrat-v24-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/montserrat-v24-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
  }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*own styles*/
html {
    font-family: 'Montserrat', sans-serif;
}
.page-header {
    position: relative;
    padding-top: 3.5rem;
    height: 50rem;
    overflow: hidden;
    background-color: #F0F0F0;
}
.header-background {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
}
.header-content {
    position: relative;
    z-index: 2;
    max-width: 94rem;
    width: 100%;
    margin: 0 auto;
}
.headline-large {
    font-size: 4.5rem;
    color: #54865C;
    font-weight: 700;
    line-height: 6rem;
    margin-bottom: 2.5rem;
}
.button {
    display: inline-block;
    background-color: #F19898;
    padding: 1rem 1.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5rem;
    transition: background-color .3s ease-in-out;
}
.button:hover {
    background-color: #e96666;
}
.logo {
    margin-bottom: 6.5rem;
}